---
- name: Base system configuration
  hosts: all
  become: true
  roles:
    - system_hardening

- name: Nginx baseline setup
  hosts: app
  become: true
  roles:
    - nginx_hardening

- name: PostgreSQL baseline setup
  hosts: db
  become: true
  roles:
    - postgresql_baseline