---
# ================================
# Common packages (ALL nodes)
# ================================
- name: Install common base packages
  apt:
    name:
      - curl
      - wget
      - vim
      - git
      - ca-certificates
      - gnupg
      - lsb-release
      - net-tools
      - htop
      - unzip
    state: present
    update_cache: yes
  tags:
    - app
    - packages

# ================================
# Control Node packages
# ================================
- name: Install control node packages
  apt:
    name:
      - ansible
      - sshpass
    state: present
  when: inventory_hostname in groups['control']
  tags:
    - app
    - ansible

# ================================
# App Node minimal packages
# ================================
- name: Install app node base packages
  apt:
    name:
      - nginx
    state: present
  when: inventory_hostname in groups['app']
  tags:
    - app
    - nginx

# ================================
# DB Node minimal packages
# ================================
- name: Install DB node base packages
  apt:
    name:
      - postgresql
      - postgresql-contrib
    state: present
  when: inventory_hostname in groups['db']
  tags:
    - db
    - postgresql